language: csharp
solution: auth.sln
notifications:
  email:
    on_success: always
    on_failure: always
  slack: srboeingdotnet:pZz5KfrgntyjLpS9a1d2b1rH
mono: none
dotnet: 2.1
scripts:
  - dotnet restore
  - chmod +x ./deploy.sh
after_success: 
  - /bin/bash ./deploy.sh
